nav {
     background-color:#DBA8AC;width:100%; padding: 15px;
 }
h1 {
     color:#5E0B15
 }
.section-home-b {
     float:left; padding: 10px;
 }
h2              {
     font-size: 25px
 }
.section-home-c {
     padding: 10px;
 }
h3              {
     font-size: 25px;
 }
footer {
     background-color:#DBA8AC;width:100%; padding: 15px;
 }
@media (max-width: 480px) {
