nav {
     background-color:#C0C0C0;width:100%; height:20px
 }
h1 {
     color:#C0C0C0
 }
.section-home-b {
     float:left
 }
.section-home-c {
     padding-top: 10px
 }
h3              {
     font-size: 45px
 }
footer {
     background-color:#C0C0C0;width:100%; height:20px
 }
@media (max-width: 480px) {
