nav                          {
     background-color:#DBA8AC;width: 100%; padding: 15px;
 }
a                            {
     padding-left: 20px;
 }
h1                           {
     color: #5E0B15; font-size: 25px;
 }
.section-home-b              {
     float: left; padding: 40px; background-color: #D9DBF1;
 }
h2                           {
     font-size: 25px; padding-top: 0px;
 }
.section-home-c              {
     padding: 40px; padding-left: 100px; background-color: #89A894;
 }
h3                           {
     font-size: 25px; padding-top: 0px;
 }
li                           {
     padding-left: 5px;
 }
footer                       {
     background-color: #DBA8AC;width: 100%; padding: 15px;
 }
@media (max-width: 480px)    {
     .section-home-a img            {
     max-width: 100%;
  }
 }
